*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f1f8f3;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.edit-card{
    width:430px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.edit-card h2{
    text-align:center;
    color:#14532d;
    margin-bottom:25px;
}

.profile-image{
    width:140px;
    height:140px;
    border-radius:50%;
    background:#16a34a;
    margin:0 auto 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.profile-image i{
    color:white;
    font-size:65px;
}

.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    color:#14532d;
    font-weight:600;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
}

button{
    width:100%;
    margin-top:15px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#16a34a;
    color:white;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#15803d;
}

a{
    display:block;
    text-align:center;
    text-decoration:none;
    color:#14532d;
    font-weight:bold;
    margin-top:15px;
}
.photo-btn{
    display:block;
    width:100%;
    margin-top:15px;
    padding:12px;
    background:#16a34a;
    color:white;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight:500;
}

.photo-btn:hover{
    background:#15803d;
}
.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.35);
    justify-content:center;
    align-items:center;
}

.popup-box{
    background:white;
    width:320px;
    padding:25px;
    border-radius:15px;
    text-align:center;
}

.popup-box h3{
    color:#14532d;
    margin-bottom:10px;
}

.popup-box p{
    color:#666;
    margin-bottom:20px;
}

.popup-buttons{
    display:flex;
    gap:10px;
    align-items:center;
}

.delete-form{
    flex:1;
    margin:0;
}

.cancel-btn,
.delete-btn{
    width:100%;
    margin-top:0;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}

.cancel-btn{
    background:#e5e7eb;
    color:#333;
}

.cancel-btn:hover{
    background:#d1d5db;
}

.delete-btn{
    background:#dc2626;
    color:white;
}

.delete-btn:hover{
    background:#b91c1c;
}